@model DigiRose.Models.Users.SignupViewModel
<link rel="stylesheet" href="~/css/AuthForm.css">
<title>@ViewData["Title"] ثبت نام در دیجی رز</title>
<link rel="stylesheet" href="~/css/Account.css">
<script src="js/site.js"></script>
@{
    Layout = "AuthTemplate";
}

@{
    if (Model != null && !String.IsNullOrEmpty(Model.Message) && Model.IsCompleted)
    {
        <div class="alert alert-success hide">@Model.Message</div>
    }
    else if (Model != null && !String.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-danger hide">@Model.Message</div>
    }
}


<body class="bodycolor">
<card>
   
    <div class="card card-header bodycolor">
        
        <h1 class="titleStyle">DigiRose</h1>
        
    </div>
    <div class="card card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Signup" asp-controller="User" method="post">
                    <div class="form-group">
                        <input asp-for="Phonenumber" type="text" class="form-control inputStyle " placeholder="شماره همراه.... ">
                        <span asp-validation-for="Phonenumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" type="text" class="form-control inputStyle" placeholder=" رمز عبور ....">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                         <div class="form-group">
                             <input asp-for="RefCode" type="text" class="form-control inputStyle" placeholder=" کد معرف(اختیاری) ....">
                             <span asp-validation-for="Password" class="text-danger"></span>
                         </div>
                              
                    <div class="row" style="padding-right: 16px">
                        <a href="#" style="font-family:'B Sahar'" type="checkbox"> <input type="checkbox" asp-for="IsObedient"> قوانین را قبول دارم </a>
                    </div>
                    <br>
                    <div class="card vr-cardboard btncardStyle">
                        <button class="btn btn-primary btncardStyle" type="submit" dir="rtl">ثبت نام</button>
                        <a href="@Url.Action("Login","User")" class="btn btnstyle" type="submit" dir="rtl">ورود</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</card>
</body>
