@model DigiRose.Models.Users.VerifyUserViewModel
<link rel="stylesheet" href="~/css/AuthForm.css">
<title>@ViewData["Title"]احراز هویت کاریری</title>
<link rel="stylesheet" href="~/css/Account.css">
@{
    Layout = "AuthTemplate";
}
<body class="bodycolor">


<card>
    
    <div class="card card-header bodycolor">
        <h1 class="titleStyle"> DigiRose</h1>
    </div>
    <div class="card card-body">
        @{
            if (!String.IsNullOrEmpty(Model.Phone))
            {
                <span class="alert alert-primary">@Model.Phone</span>
            }
        }
        <div class="row">
            <div class="col-md-12">
                <form asp-action="VerifyUser" asp-controller="User" method="post">
                    <div class="form-group">
                        <input asp-for="Code" class="form-control inputStyle" placeholder="کد ارسالی به موبایل ... ">
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="card vr-cardboard btncardStyle">
                        <button class="btn btn-primary btncardStyle" type="submit" dir="rtl">ارسال</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</card>
</body>