@model DigiRose.Models.Users.VerifyViewModel
<link rel="stylesheet" href="~/css/AuthForm.css">
<title>@ViewData["Title"] احراز هویت </title>
<link rel="stylesheet" href="~/css/Account.css">
@{
    Layout = "AuthTemplate";
}

@{
    if (Model?.Message != null)
    {
        <span class="alert alert-primary hide" >@Model.Message</span>
    }
}
<body class="bodycolor">
<card>

    <div class="card card-header bodycolor">
        <h1 class="titleStyle">DigiRose</h1>
    </div>
    <div class="card card-body">
        @{
            if (!String.IsNullOrEmpty(Model.phonenumber))
            {
                <span class="alert alert-primary">@Model.phonenumber</span>
            }
        }
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Verify" asp-controller="User" method="post">

                    <div class="form-group">
                        <input asp-for="code" class="form-control inputStyle" placeholder="کد تایید ...">
                        <span asp-validation-for="code" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="card vr-cardboard btncardStyle">
                        <button class="btn btn-primary btncardStyle" type="submit" dir="rtl">ارسال</button>
                    </div>
                    <br>
                </form>
                @{
                    if (Model.IsCompleted)
                    {
                        <script>
                               setTimeout(function() {
                                   location.assign("@Url.Action("Login","User")");
                               },3000)
                        </script>
                    }
                }
            </div>
            
        </div>
    </div>
</card>
</body>