@model DigiRose.Models.Users.LoginViewModel
<html>
<header>
 
    <title>@ViewData["Title"]ورود به دیجی شاپ</title>
    <link rel="stylesheet" href="~/css/AuthForm.css">
        <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css">
        <script src="js/site.js"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="~/js/Form.js"></script>
        <link href="~/css/Form.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Noto%20Naskh%20Arabic" rel="stylesheet">
</header>

@{
    Layout = "AuthTemplate";
}
<body>
<div class="container-fluid col-sm-8  card">
    <div class="row" id="row1">
        
        
        <p id="digirose">DigiRose</p>

        <hr>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <form id="sub-form" asp-controller="Auth" asp-action="Login" method="post" style="display:block;">
                        <div class="form-group">
                            <input type="text" asp-for="Phonenumber" id="username" style="text-align: center" class="form-control" placeholder="موبایل ...">
                            <span asp-validation-for="Phonenumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="Password" style="text-align: center" id="password" class="form-control" placeholder="رمزعبور ...">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6" style="float:right;">
                                        <a for="remember" asp-controller="Auth" asp-action="ForgetPassword" id="remember-text" style="color: deeppink">رمز عبور خود را فراموش کردید ؟</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="submit" class="form-control btn btn-primary">ورود</button>
                                </div>
                            </div>

                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    
</div>
<script src="~/js/Form.js"></script>
</body>
</html>

